.settings
.classpath
.project
javadoc.xml
target
*.class
doc
/apibiblio/src/main/resources/META-INF/additional-spring-configuration-metadata.json
/webapp/src/main/resources/META-INF/additional-spring-configuration-metadata.json
